Makefile
config.log
config.status
src/.deps/
src/FLTK/.deps/
src/Makefile
stamp-h1
*.o
src/butt
src/butt.exe
src/FLTK/.dirstamp
.idea/
CMakeLists.txt
cmake-build-debug/
build/
*~
*#
autom4te.cache/
bash.exe.stackdump
